<a href="https://colab.research.google.com/github/fitsumh/DATA201_Project1/blob/master/Project2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [98]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Importing Data

In [99]:
data = pd.read_csv('train.csv', index_col='Accident_ID')
data.head()

                                            Severity  ...  Adverse_Weather_Metric
Accident_ID                                           ...
7570                       Minor_Damage_And_Injuries  ...                0.424352
12128                      Minor_Damage_And_Injuries  ...                0.352350
2181               Significant_Damage_And_Fatalities  ...                0.003364
5946         Significant_Damage_And_Serious_Injuries  ...                0.211728
9054               Significant_Damage_And_Fatalities  ...                0.176883

[5 rows x 11 columns]

Converting String outputs into numbers for classification

In [100]:
class_dic = {'Highly_Fatal_And_Damaging':1, 'Minor_Damage_And_Injuries':2, 'Significant_Damage_And_Fatalities':3, 'Significant_Damage_And_Serious_Injuries':4}
data['Severity'] = data['Severity'].map(dic)

In [101]:
data.head()

             Severity  Safety_Score  ...  Violations  Adverse_Weather_Metric
Accident_ID                          ...
7570                2     49.223744  ...           3                0.424352
12128               2     62.465753  ...           2                0.352350
2181                3     63.059361  ...           3                0.003364
5946                4     48.082192  ...           1                0.211728
9054                3     26.484018  ...           2                0.176883

[5 rows x 11 columns]

In [102]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 7570 to 9387
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Severity                 10000 non-null  int64
 1   Safety_Score             10000 non-null  float64
 2   Days_Since_Inspection    10000 non-null  int64
 3   Total_Safety_Complaints  10000 non-null  int64
 4   Control_Metric           10000 non-null  float64
 5   Turbulence_In_gforces    10000 non-null  float64
 6   Cabin_Temperature        10000 non-null  float64
 7   Accident_Type_Code       10000 non-null  int64
 8   Max_Elevation            10000 non-null  float64
 9   Violations               10000 non-null  int64
 10  Adverse_Weather_Metric   10000 non-null  float64
dtypes: float64(6), int64(5)
memory usage: 937.5 KB

In [103]:
data.isnull().sum()

Severity                   0
Safety_Score               0
Days_Since_Inspection      0
Total_Safety_Complaints    0
Control_Metric             0
Turbulence_In_gforces      0
Cabin_Temperature          0
Accident_Type_Code         0
Max_Elevation              0
Violations                 0
Adverse_Weather_Metric     0
dtype: int64

In [104]:
data.dtypes

Severity                     int64
Safety_Score               float64
Days_Since_Inspection        int64
Total_Safety_Complaints      int64
Control_Metric             float64
Turbulence_In_gforces      float64
Cabin_Temperature          float64
Accident_Type_Code           int64
Max_Elevation              float64
Violations                   int64
Adverse_Weather_Metric     float64
dtype: object

In [105]:
data.describe()

           Severity  Safety_Score  ...   Violations  Adverse_Weather_Metric
count  10000.000000  10000.000000  ...  10000.00000            10000.000000
mean       2.410400     41.876406  ...      2.01220                0.255635
std        1.182249     16.138072  ...      1.03998                0.381128
min        1.000000      0.000000  ...      0.00000                0.000316
25%        1.000000     30.593607  ...      1.00000                0.012063
50%        2.000000     41.278539  ...      2.00000                0.074467
75%        4.000000     52.511416  ...      3.00000                0.354059
max        4.000000    100.000000  ...      5.00000                2.365378

[8 rows x 11 columns]

In [106]:
print(data.groupby('Severity').Severity.count())

Severity
1    3049
2    2527
3    1695
4    2729
Name: Severity, dtype: int64

In [107]:
pred1 = data[data['Severity']==1]
pred2 = data[data['Severity']==2]
pred3 = data[data['Severity']==3]
pred4 = data[data['Severity']==4]

Selecting features on the basis of their importance score of Gradient Boosting Classifier

In [108]:
X = data.drop(['Severity', 'Violations', 'Total_Safety_Complaints', 'Cabin_Temperature', 'Max_Elevation', 'Adverse_Weather_Metric', 'Turbulence_In_gforces', 'Accident_Type_Code'], axis = 1)
y = data['Severity']

In [109]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [110]:
X_train.head()

             Safety_Score  Days_Since_Inspection  Control_Metric
Accident_ID
5845            52.648402                      6       80.036463
11408           25.844749                     14       66.909754
11548           33.698630                     15       48.587056
9362            29.726027                     13       87.556974
8091            37.534247                     10       59.298086

In [111]:
y_train.head()

Accident_ID
5845     1
11408    1
11548    2
9362     1
8091     1
Name: Severity, dtype: int64